<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <link rel="stylesheet" href="./style.css">
  <title>Document</title>
  <style>
    .art1{
    background-color:green;
    padding: 20px 20px 5px 20px;
    margin-top: 10px;
}
.art2{
    background-color:rgb(0, 153, 255);
    padding: 20px 20px 5px 20px;
    margin-top: 10px;
}
.nav-color{
    background-color: pink;
    padding: 20px 20px 5px 20px;
    margin-top: 10px;
}
.div-color1{
    background-color:rgb(56, 31, 102);
    padding: 20px 20px 5px 20px;
    margin-top: 10px;
    margin-bottom: 375px;
}
footer{
    background-color: rgb(179, 179, 92);
    padding: 20px 40px;
    text-align: right;
    margin-top: 80px;
}
.bar{
    background-color: rgb(238, 160, 160);
    padding: 30px;
    font-size: 20px;
}
.bar-ul{
    background-color: rgb(243, 111, 184);
}
.ali{
    margin: auto;
    width: 1200px;
}
.li{
    padding: 20px;
}
  </style>
</head>
<body>
  <header class="bar">
    <div class="ali">
      <nav class="navbar navbar-light">
        <div>
          <h1>Typo</h1>
        </div>
        <ul class="nav justify-content-end bar-ul">
          <li class="nav-item li">
            <a class="nav-link active" aria-current="page" href="#">1. Home</a>
          </li>
          <li class="nav-item li">
            <a class="nav-link" href="#">2.About</a>
          </li>
          <li class="nav-item li">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">3.Archives</a>
          </li>
          <li class="nav-item li">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">4.Contact</a>
          </li>
        </ul>
    </div>
  </header>
  <main>
    <div class="container">
      <!-- Content here -->
      <div class="row">
        <div class="col-6">
          <section>
            <article class="art1">
              <h1>Getting your stock photos seen</h1>
    
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In maiores vitae sit dolore veritatis officia quam! Voluptatum, saepe maiores itaque cupiditate non ex tempora odit explicabo quae suscipit sint! Commodi?
              Quos facere ex reprehenderit quibusdam quidem vel architecto velit odio, ducimus minima voluptatum aliquam vero sit iste animi odit tempora consequatur quasi minus reiciendis? Quibusdam culpa aperiam animi. Ducimus, voluptate!
              Totam, ipsum odio est nulla adipisci ducimus voluptatem dicta harum obcaecati sit recusandae illum perspiciatis reprehenderit eum vel quibusdam id repellat ad fugit! Sed repellendus eius neque. Molestiae, harum sunt!</p>
            </article>
            <article class="art1">
              <h1>Top 10 tips for new bloggers</h1>
    
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut distinctio suscipit iure perferendis quas ut deleniti temporibus omnis voluptas maiores quidem tenetur, voluptatum est cupiditate nobis reprehenderit similique doloribus magnam.
              Dolorum in enim reprehenderit! Blanditiis ipsum cumque iste voluptas beatae nihil impedit, ut, harum suscipit aspernatur deserunt dolorum mollitia expedita earum optio id, qui enim nostrum eaque similique tempore laudantium?
              Delectus, qui provident error laudantium voluptatum maiores alias voluptas, ex debitis, nemo autem incidunt. Qui libero voluptates dolorum dignissimos error voluptatum reiciendis quae dolorem. Necessitatibus accusamus quaerat consequatur illum aliquid.</p>
            </article>
            <article class="art1">
              <h1>10 fantastic photography tips</h1>
    
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque atque non eveniet, amet esse distinctio! Voluptates dignissimos atque nihil dolorem nam aspernatur! Nesciunt pariatur delectus adipisci ratione quasi dicta quam.
              Esse error rerum perspiciatis hic quisquam commodi, earum debitis, quidem optio soluta blanditiis ipsam non quo laboriosam in ut provident eveniet. Quia, labore. Magnam id eligendi deleniti harum molestias dicta?
              Ut enim similique alias? Iure culpa, natus aliquam quod illum, illo repudiandae expedita pariatur eum inventore, suscipit voluptate dolores magni alias? Aperiam, quas. Distinctio, sequi. In assumenda natus laborum quibusdam!</p>
            </article>
            <nav>
              <ul class="nav justify-content-center nav-color">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Active</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
              </ul>
            </nav>
          </section>
        </div>
      <div class="col-6 div-color1">
        <aside>
          <section class="art2">
            <h4>About me</h4>
  
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum perferendis repellat quisquam cupiditate dolorum laboriosam aperiam nobis inventore blanditiis recusandae quod, fugiat modi, fugit sequi dignissimos nostrum nisi omnis et.</p>
          </section>
          <section class="art2">
            <div class="container">
              <div class="row">
                <div class="col">
                  <h4>
                    Categories
                  </h4>
                  
                  <div><a href="">Articles</a></div>
                  <div><a href="">Design</a></div>
                  <div><a href="">Graphics</a></div>
                  <div><a href="">Inspiration</a></div>
                  <div><a href="">????</a></div>
                </div>
                <div class="col">
                  <h4>
                    Social
                  </h4>
                  <div><a href="">Twitter</a></div>
                  <div><a href="">Facebook</a></div>
                  <div><a href="">Flckr</a></div>
                  <div><a href="">Behance</a></div>
                  <div><a href="">Last FM</a></div>
                  <div><a href="">Youtube</a></div>
                </div>
              </div>
          </section>
          <section class="art2">
            <div>
              <h4>Latest posts</h4>
              <div>
                <a href="">Getting   your stock photos seen</a>
              </div>
              <div><a href="">Top 10 tips for new bloggers</a></div>
              <div><a href="">10 fantastic photography tips</a></div>
            </div>
          </section>
          <section class="art2">
            <div>
              <h4>Search</h4>
  
              <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
            </div>
          </section>
        </div> 
        </aside>
      </div>
    </div>
  </main>
  <footer>
    <a href="#">Back to top</a>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script> 
</body>
</html>